body{
    width: 95%;
    margin: 5% auto;
}

header{
    display: flex;
}
header h1{
    margin-left: 500px;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.s2:first-child{
    grid-column: 3/5;
}

.s3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.s3 section{
    grid-column: 1/-1;
}

.x2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    text-align: center;
    margin-bottom: 10px;
}
.x2 div{
    border: 1px solid black;
}
.filler{
    grid-column: 1/3;
    grid-row: 1/3;
}
.toptitle{
    grid-column: 3/6;
}
.sidetitle{
    grid-row: 3/6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    text-align: center;
}
.smaller{
    border: 1px solid black;
    
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
.x4 div:not(.smaller):not(.small){
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}
.smaller{
    border: 1px solid black;
    height: 55px;
    font-size: .7em;

    display: flex;
    justify-content: center;
    align-items: center;
}


.table3 div:nth-of-type(6) div:first-of-type,
.table3 div:nth-of-type(6) div:nth-of-type(2),
.table3 div:nth-of-type(6) div:nth-of-type(3),
.table3 div:nth-of-type(7) div:nth-of-type(2),
.table3 div:nth-of-type(10) div:nth-of-type(2),
.table3 div:nth-of-type(11) div:nth-of-type(2),
.table3 div:nth-of-type(12) div:nth-of-type(2),
.table3 div:nth-of-type(15) div:nth-of-type(2),
.table3 div:nth-of-type(16) div:nth-of-type(1),
.table3 div:nth-of-type(16) div:nth-of-type(2),
.table3 div:nth-of-type(16) div:nth-of-type(3){
    background-color: green;
}

.table3 div:nth-of-type(7) div:first-of-type,
.table3 div:nth-of-type(8) div:nth-of-type(1),
.table3 div:nth-of-type(8) div:nth-of-type(2),
.table3 div:nth-of-type(8) div:nth-of-type(3),
.table3 div:nth-of-type(11) div:nth-of-type(1),
.table3 div:nth-of-type(12) div:nth-of-type(1),
.table3 div:nth-of-type(12) div:nth-of-type(3),
.table3 div:nth-of-type(15) div:nth-of-type(1){
    background-color: orange;
}

.table4 div:nth-of-type(2){
    background-color: red;
}
.table4 div:nth-of-type(3){
    background-color: blue;
}
.table4 div:nth-of-type(4){
    background-color: purple;
}

.table4 div:nth-of-type(5){
    background-color: white;
}
.table4 div:nth-of-type(6) div:nth-of-type(1){
    background-color: #f4cdcd
}
.table4 div:nth-of-type(6) div:nth-of-type(2){
    background-color: #fbe4cd
}
.table4 div:nth-of-type(6) div:nth-of-type(3){
    background-color: white
}
.table4 div:nth-of-type(7) div:nth-of-type(1){
    background-color: #c7daf7
}
.table4 div:nth-of-type(7) div:nth-of-type(2){
    background-color: #c7daf7
}
.table4 div:nth-of-type(7) div:nth-of-type(3){
    background-color: #c7daf7
}
.table4 div:nth-of-type(8) div:nth-of-type(1){
    background-color: #b3a7d6
}
.table4 div:nth-of-type(8) div:nth-of-type(2){
    background-color: #8e7cc4
}
.table4 div:nth-of-type(8) div:nth-of-type(3){
    background-color: #b3a7d6
}

.table4 div:nth-of-type(9){
    background-color: gray;
}
.table4 div:nth-of-type(10) div:nth-of-type(1){
    background-color: #ed9896
}
.table4 div:nth-of-type(10) div:nth-of-type(2){
    background-color: #ed9896
}
.table4 div:nth-of-type(10) div:nth-of-type(3){
    background-color: white
}
.table4 div:nth-of-type(11) div:nth-of-type(1){
    background-color: #6c9eeb
}
.table4 div:nth-of-type(11) div:nth-of-type(2){
    background-color: #6c9eeb
}
.table4 div:nth-of-type(11) div:nth-of-type(3){
    background-color: #4a86e8
}
.table4 div:nth-of-type(12) div:nth-of-type(1){
    background-color: #694da7
}
.table4 div:nth-of-type(12) div:nth-of-type(2){
    background-color: #351e75;
    color: white;
}
.table4 div:nth-of-type(12) div:nth-of-type(3){
    background-color: #351e75;
    color: white;
}

.table4 div:nth-of-type(13){
    background-color: black;
    color: white;
}
.table4 div:nth-of-type(14) div:nth-of-type(1){
    background-color: #dd6668
}
.table4 div:nth-of-type(14) div:nth-of-type(2){
    background-color: #ea9999
}
.table4 div:nth-of-type(14) div:nth-of-type(3){
    background-color: white
}
.table4 div:nth-of-type(15) div:nth-of-type(1){
    background-color: #1056cb
}
.table4 div:nth-of-type(15) div:nth-of-type(2){
    background-color: #1c4587
}
.table4 div:nth-of-type(15) div:nth-of-type(3){
    background-color: #1c4587
}
.table4 div:nth-of-type(16) div:nth-of-type(1){
    background-color: #1e124e;
    color: white;
}
.table4 div:nth-of-type(16) div:nth-of-type(2){
    background-color: #1e124e;
    color: white;
}
.table4 div:nth-of-type(16) div:nth-of-type(3){
    background-color: #1e124e;
    color: white;
}


@media screen and (max-width: 900px){
    header h1{
        margin-left: 50px;
    }

    main, .s3{
        display: block;
    }
}