header{
    display: flex;
}
header h1{
    margin-left: 300px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media screen and (max-width: 900px){
    header h1{
        margin-left: 50px;
    }

    main{
        display: block;
    }
}