header{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header img{
    width: 20%;
}

main div:first-of-type{
    display: flex;
}

.main_menu{
    display: grid;
}

.map{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    margin-left: 30%;
    aspect-ratio: 4/3;
    width: 100%;
    
    text-align: center;
    
    border: 15px solid black;

    background-image: url("../images/Eternastrum_Map/Eternastrum.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;

    overflow:hidden;

    position: relative;
    cursor: pointer;
}

.citadel{
    background-color: white;
    color: black;
}
.darklands{
    background-color: black;
    color: white;
}
.eternastrum{
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 2%;
}

.pieces img{
    position: absolute;
    display: none;
}
.pieces img:first-of-type{
    /* Machinoria */
    width: 13.8%;
    top: 37%;
    left: 88%;
}
.pieces img:nth-of-type(2){
    /* Sylvanara */
    width: 15.5%;
    top: 46%;
    left: 53.3%;
}
.pieces img:nth-of-type(3){
    /* Veridia */
    width: 47.5%;
    top: 40.8%;
    left: 52.5%;
}
.pieces img:nth-of-type(4){
    /* Drakoria */
    width: 40%;
    top: 58.3%;
    left: 31%;
}
.pieces img:nth-of-type(5){
    /* Equiloria */
    width: 84%;
    top: -15%;
    left: 14.3%;
}
.pieces img:nth-of-type(6){
    /* Goblinkin Vale */
    width: 33%;
    top: 48.2%;
    left: 63.2%;
}
.pieces img:nth-of-type(7){
    /* Grimwood Forest */
    width: 40%;
    top: 58.3%;
    left: 31%;
}
.pieces img:nth-of-type(8){
    /* Sands of Silethara */
    width: 76%;
    top: 40%;
    left: -2%;
}
.pieces img:nth-of-type(9){
    /* Titanpeak Range */
    width: 81%;
    top: 16%;
    left: -10%;
}
.pieces img:nth-of-type(10){
    /* Veilstead Enclave */
    width: 15%;
    top: 60.3%;
    left: 45%;
}
.pieces img:nth-of-type(11){
    /* Veridian Woodlands */
    width: 48.7%;
    top: 39.999%;
    left: 52.1%;
}
.pieces img:nth-of-type(12){
    /* Wildrun Hills */
    width: 9.4%;
    top: 61.5%;
    left: 41.5%;
}

.kingdoms_menu p:hover, .regions_menu p:hover{
    cursor: pointer;
    background-color: rgb(128, 128, 128);
}
.info{
    grid-column: 1/-1;
    display: none;
    grid-template-columns: 2fr 1fr;
    column-gap: 1%;

    position: absolute;
    top: 140%;
    left: 8%;
    right: 8%;

}


.machChange .machinoria{
    display: grid;
}
.sylvChange .sylvanara{
    display: grid;
}
.veriChange .veridia{
    display: grid;
}
.drakChange .drakoria{
    display: grid;
}
.equiChange .equiloria{
    display: grid;
}

.goblChange .goblinkin{
    display: grid;
}
.grimChange .grimwood{
    display: grid;
}
.sileChange .silethara{
    display: grid;
}
.titaChange .titanpeak{
    display: grid;
}
.veilChange .veilstead{
    display: grid;
}
.verinChange .veridian{
    display: grid;
}
.wildChange .wildrun{
    display: grid;
}


.kingdoms_menu, .regions_menu{
    background-color: transparent;
    color: transparent;
    width: 0;

    display: flex;
    text-align: center;
    align-items: center;

    grid-column: 1/-1;
}
.kingdoms_menu p, .regions_menu p{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kingdoms_menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.regions_menu{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.kingdoms_menu h3, .regions_menu h3{
    grid-column: 1/-1;
}

.descChange .map a{
    background-color: transparent;
    color: transparent;
    width: 0;
}

.descChange .pieces .kingdoms{
    /* display: inline; */
    z-index: 1;
}

.descChange .kingdoms_menu, .descChange .regions_menu{
    background-color: white;
    color: black;
    width: 100%;
}

main:has(.kingdoms_menu p:first-of-type:hover) .pieces img:first-of-type, 
.machChange .pieces img:first-of-type{
    /* Machinoria */
    z-index: 2;
    /* width: 13.8%;
    top: 37%;
    left: 88%; */
    display: inline;
}
main:has(.kingdoms_menu p:nth-of-type(2):hover) .pieces img:nth-of-type(2), 
.sylvChange .pieces img:nth-of-type(2){
    /* Sylvanara */
    z-index: 2;
    /* width: 15.5%;
    top: 46%;
    left: 53.3%; */
    display: inline;
}
main:has(.kingdoms_menu p:nth-of-type(3):hover) .pieces img:nth-of-type(3), 
.veriChange .pieces img:nth-of-type(3){
    /* Veridia */
    z-index: 2;
    /* width: 47.5%;
    top: 40.8%;
    left: 52.5%; */
    display: inline;
}
main:has(.kingdoms_menu p:nth-of-type(4):hover) .pieces img:nth-of-type(4), 
.drakChange .pieces img:nth-of-type(4){
    /* Drakoria */
    z-index: 2;
    /* width: 40%;
    top: 58.3%;
    left: 31%; */
    display: inline;
}
main:has(.kingdoms_menu p:nth-of-type(5):hover) .pieces img:nth-of-type(5), 
.equiChange .pieces img:nth-of-type(5){
    /* Equiloria */
    z-index: 2;
    /* width: 84%;
    top: -15%;
    left: 14.3%; */
    display: inline;
}
main:has(.regions_menu p:first-of-type:hover) .pieces img:nth-of-type(6), 
.goblChange .pieces img:nth-of-type(6){
    /* Goblinkin Vale */
    z-index: 2;
    /* width: 33%;
    top: 48.2%;
    left: 63.2%; */
    display: inline;
}
main:has(.regions_menu p:nth-of-type(2):hover) .pieces img:nth-of-type(7), 
.grimChange .pieces img:nth-of-type(7){
    /* Grimwood Forest */
    z-index: 2;
    /* width: 40%;
    top: 58.3%;
    left: 31%; */
    display: inline;
}
main:has(.regions_menu p:nth-of-type(3):hover) .pieces img:nth-of-type(8), 
.sileChange .pieces img:nth-of-type(8){
    /* Sands of Silethara */
    z-index: 2;
    /* width: 76%;
    top: 40%;
    left: -2%; */
    display: inline;
}
main:has(.regions_menu p:nth-of-type(4):hover) .pieces img:nth-of-type(9), 
.titaChange .pieces img:nth-of-type(9){
    /* Titanpeak Range */
    z-index: 2;
    /* width: 81%;
    top: 16%;
    left: -10%; */
    display: inline;
}
main:has(.regions_menu p:nth-of-type(5):hover) .pieces img:nth-of-type(10), 
.veilChange .pieces img:nth-of-type(10){
    /* Veilstead Enclave */
    z-index: 2;
    /* width: 15%;
    top: 60.3%;
    left: 45%; */
    display: inline;
}
main:has(.regions_menu p:nth-of-type(6):hover) .pieces img:nth-of-type(11), 
.verinChange .pieces img:nth-of-type(11){
    /* Veridian Woodlands */
    z-index: 2;
    /* width: 48.7%;
    top: 39.999%;
    left: 52.1%; */
    display: inline;
}
main:has(.regions_menu p:nth-of-type(7):hover) .pieces img:nth-of-type(12), 
.wildChange .pieces img:nth-of-type(12){
    /* Wildrun Hills */
    z-index: 2;
    /* width: 9.4%;
    top: 61.5%;
    left: 41.5%; */
    display: inline;
}


@media screen and (max-width: 900px){
    header{
        column-gap: 20px;
    }
    header img{
        width: 100%;
    }
    main, main div:first-of-type{
        display: block;
        margin-top: 0;
    }

    .map{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 1fr;
        margin-left: 0;

    }
    .descChange .eternastrum{
        padding-top: 0;

        position: absolute;
        right: 3px;
        top: 4px;
        z-index: 3;
    }

    .machChange .machinoria,
    .sylvChange .sylvanara,
    .veriChange .veridia,
    .drakChange .drakoria,
    .equiChange .equiloria,
    .goblChange .goblinkin,
    .grimChange .grimwood,
    .sileChange .silethara,
    .titaChange .titanpeak,
    .veilChange .veilstead,
    .verinChange .veridian,
    .wildChange .wildrun{
        display: block;
        
    }


    main:has(.kingdoms_menu p:first-of-type:hover) .pieces img:first-of-type, 
    .machChange .pieces img:first-of-type,
    main:has(.kingdoms_menu p:nth-of-type(2):hover) .pieces img:nth-of-type(2), 
    .sylvChange .pieces img:nth-of-type(2),
    main:has(.kingdoms_menu p:nth-of-type(3):hover) .pieces img:nth-of-type(3), 
    .veriChange .pieces img:nth-of-type(3),
    main:has(.kingdoms_menu p:nth-of-type(4):hover) .pieces img:nth-of-type(4), 
    .drakChange .pieces img:nth-of-type(4),
    main:has(.kingdoms_menu p:nth-of-type(5):hover) .pieces img:nth-of-type(5), 
    .equiChange .pieces img:nth-of-type(5),
    main:has(.regions_menu p:first-of-type:hover) .pieces img:nth-of-type(6), 
    .goblChange .pieces img:nth-of-type(6),
    main:has(.regions_menu p:nth-of-type(2):hover) .pieces img:nth-of-type(7), 
    .grimChange .pieces img:nth-of-type(7),
    main:has(.regions_menu p:nth-of-type(3):hover) .pieces img:nth-of-type(8), 
    .sileChange .pieces img:nth-of-type(8),
    main:has(.regions_menu p:nth-of-type(4):hover) .pieces img:nth-of-type(9), 
    .titaChange .pieces img:nth-of-type(9),
    main:has(.regions_menu p:nth-of-type(5):hover) .pieces img:nth-of-type(10), 
    .veilChange .pieces img:nth-of-type(10),
    main:has(.regions_menu p:nth-of-type(6):hover) .pieces img:nth-of-type(11), 
    .verinChange .pieces img:nth-of-type(11),
    main:has(.regions_menu p:nth-of-type(7):hover) .pieces img:nth-of-type(12), 
    .wildChange .pieces img:nth-of-type(12){
        display: none;
    }

    .kingdoms_menu, .regions_menu{
        display: block;
    }
}
