header{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header img{
    width: 20%;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
}

.main_menu{
    display: grid;
}

.map{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/-1;
    grid-template-columns: 1fr 3fr 1fr;
    
    text-align: center;
    
    border: 15px solid black;

    background-image: url("../images/Eternastrum_Map/Eternastrum.png");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 100%;

    overflow: hidden;

    position: relative;
    cursor: pointer;
}

.citadel{
    background-color: white;
    color: black;
}
.darklands{
    background-color: black;
    color: white;
}
.eternastrum{
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.pieces img{
    position: absolute;
    display: none;
}
.pieces img:first-of-type{
    /* Machinoria */
    width: 15%;
    top: 209px;
    left: 641px;
}
.pieces img:nth-of-type(2){
    /* Sylvanara */
    width: 16%;
    top: 267px;
    left: 386px;
}
.pieces img:nth-of-type(3){
    /* Veridia */
    width: 48%;
    top: 241px;
    left: 382px;
}
.pieces img:nth-of-type(4){
    /* Drakoria */
    width: 40%;
    top: 338px;
    left: 226px;
}
.pieces img:nth-of-type(5){
    /* Equiloria */
    width: 85%;
    top: -68px;
    left: 102px;
}
.pieces img:nth-of-type(6){
    /* Goblinkin Vale */
    width: 34%;
    top: 293px;
    left: 475px;
}
.pieces img:nth-of-type(7){
    /* Grimwood Forest */
    width: 40%;
    top: 338px;
    left: 226px;
}
.pieces img:nth-of-type(8){
    /* Sands of Silethara */
    width: 75%;
    top: 250px;
    left: -12px;
}
.pieces img:nth-of-type(9){
    /* Titanpeak Range */
    width: 80%;
    top: 116px;
    left: -71px;
}
.pieces img:nth-of-type(10){
    /* Veilstead Enclave */
    width: 14%;
    top: 369px;
    left: 343px;
}
.pieces img:nth-of-type(11){
    /* Veridian Woodlands */
    width: 48%;
    top: 252px;
    left: 399px;
}
.pieces img:nth-of-type(12){
    /* Wildrun Hills */
    width: 9%;
    top: 373px;
    left: 318px;
}

.kingdoms_menu p:hover, .regions_menu p:hover{
    cursor: pointer;
    background-color: rgb(128, 128, 128);
}
.info{
    grid-column: 1/-1;
    display: none;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;

    position: absolute;
    top: 1070px;
    left: 55px;
    right: 55px;
}


.machChange .machinoria{
    display: grid;
}
.sylvChange .sylvanara{
    display: grid;
}
.veriChange .veridia{
    display: grid;
}
.drakChange .drakoria{
    display: grid;
}
.equiChange .equiloria{
    display: grid;
}

.goblChange .goblinkin{
    display: grid;
}
.grimChange .grimwood{
    display: grid;
}
.sileChange .silethara{
    display: grid;
}
.titaChange .titanpeak{
    display: grid;
}
.veilChange .veilstead{
    display: grid;
}
.verinChange .veridian{
    display: grid;
}
.wildChange .wildrun{
    display: grid;
}


.kingdoms_menu, .regions_menu{
    background-color: transparent;
    color: transparent;
    width: 0;

    display: flex;
    text-align: center;
    align-items: center;

    grid-column: 1/-1;
}
.kingdoms_menu p, .regions_menu p{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kingdoms_menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.regions_menu{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.kingdoms_menu h3, .regions_menu h3{
    grid-column: 1/-1;
}

.descChange .map a{
    background-color: transparent;
    color: transparent;
    width: 0;
}

.descChange .pieces .kingdoms{
    display: inline;
    z-index: 1;
}

.descChange .kingdoms_menu, .descChange .regions_menu{
    background-color: white;
    color: black;
    width: 100%;
}

main:has(.kingdoms_menu p:first-of-type:hover) .pieces img:first-of-type, 
.machChange .pieces img:first-of-type{
    /* Machinoria */
    z-index: 2;
    width: 20%;
    top: 138px;
    left: 608px;
}
main:has(.kingdoms_menu p:nth-of-type(2):hover) .pieces img:nth-of-type(2), 
.sylvChange .pieces img:nth-of-type(2){
    /* Sylvanara */
    z-index: 2;
    width: 21%;
    top: 244px;
    left: 364px;
}
main:has(.kingdoms_menu p:nth-of-type(3):hover) .pieces img:nth-of-type(3), 
.veriChange .pieces img:nth-of-type(3){
    /* Veridia */
    z-index: 2;
    width: 53%;
    top: 221px;
    left: 357px;
}
main:has(.kingdoms_menu p:nth-of-type(4):hover) .pieces img:nth-of-type(4), 
.drakChange .pieces img:nth-of-type(4){
    /* Drakoria */
    z-index: 2;
    width: 45%;
    top: 318px;
    left: 202px;
}
main:has(.kingdoms_menu p:nth-of-type(5):hover) .pieces img:nth-of-type(5), 
.equiChange .pieces img:nth-of-type(5){
    /* Equiloria */
    z-index: 2;
    width: 90%;
    top: -74px;
    left: 85px;
}
main:has(.regions_menu p:first-of-type:hover) .pieces img:nth-of-type(6), 
.goblChange .pieces img:nth-of-type(6){
    /* Goblinkin Vale */
    z-index: 2;
    width: 39%;
    top: 257px;
    left: 443px;
    display: inline;
}
main:has(.regions_menu p:nth-of-type(2):hover) .pieces img:nth-of-type(7), 
.grimChange .pieces img:nth-of-type(7){
    /* Grimwood Forest */
    z-index: 2;
    width: 45%;
    top: 318px;
    left: 202px;
    display: inline;
}
main:has(.regions_menu p:nth-of-type(3):hover) .pieces img:nth-of-type(8), 
.sileChange .pieces img:nth-of-type(8){
    /* Sands of Silethara */
    z-index: 2;
    width: 80%;
    top: 232px;
    left: -39px;
    display: inline;
}
main:has(.regions_menu p:nth-of-type(4):hover) .pieces img:nth-of-type(9), 
.titaChange .pieces img:nth-of-type(9){
    /* Titanpeak Range */
    z-index: 2;
    width: 85%;
    top: 96px;
    left: -89px;
    display: inline;
}
main:has(.regions_menu p:nth-of-type(5):hover) .pieces img:nth-of-type(10), 
.veilChange .pieces img:nth-of-type(10){
    /* Veilstead Enclave */
    z-index: 2;
    width: 19%;
    top: 337px;
    left: 311px;
    display: inline;
}
main:has(.regions_menu p:nth-of-type(6):hover) .pieces img:nth-of-type(11), 
.verinChange .pieces img:nth-of-type(11){
    /* Veridian Woodlands */
    z-index: 2;
    width: 53%;
    top: 220px;
    left: 371px;
    display: inline;
}
main:has(.regions_menu p:nth-of-type(7):hover) .pieces img:nth-of-type(12), 
.wildChange .pieces img:nth-of-type(12){
    /* Wildrun Hills */
    z-index: 2;
    width: 14%;
    top: 317px;
    left: 288px;
    display: inline;
}