header{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header img{
    width: 20%;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
}

.main_menu{
    display: grid;
}

.map{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/-1;
    grid-template-columns: 1fr 3fr 1fr;
    
    text-align: center;
    
    border: 15px solid black;

    background-image: url("../images/Eternastrum_Map/Eternastrum.png");
    background-repeat: no-repeat;
    background-position: -55px;
    background-size: 731px;

    overflow: hidden;

    position: relative;
    cursor: pointer;
}

.citadel{
    background-color: white;
    color: black;
}
.darklands{
    background-color: black;
    color: white;
}
.eternastrum{
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.pieces img{
    position: absolute;
    display: none;
}
.pieces img:first-of-type{
    /* Machinoria */
    width: 104px;
    top: 215px;
    left: 588px;
}
.pieces img:nth-of-type(2){
    /* Sylvanara */
    width: 112px;
    top: 267px;
    left: 334px;
}
.pieces img:nth-of-type(3){
    /* Veridia */
    width: 349px;
    top: 238px;
    left: 328px;
}
.pieces img:nth-of-type(4){
    /* Drakoria */
    width: 291px;
    top: 336px;
    left: 171px;
}
.pieces img:nth-of-type(5){
    /* Equiloria */
    width: 619px;
    top: -68px;
    left: 48px;
}
.pieces img:nth-of-type(6){
    /* Goblinkin Vale */
    width: 240px;
    top: 281px;
    left: 407px;
}
.pieces img:nth-of-type(7){
    /* Grimwood Forest */
    width: 287px;
    top: 338px;
    left: 173px;
}
.pieces img:nth-of-type(8){
    /* Sands of Silethara */
    width: 547px;
    top: 237px;
    left: -68px;
}
.pieces img:nth-of-type(9){
    /* Titanpeak Range */
    width: 600px;
    top: 103px;
    left: -135px;
}
.pieces img:nth-of-type(10){
    /* Veilstead Enclave */
    width: 92px;
    top: 354px;
    left: 278px;
}
.pieces img:nth-of-type(11){
    /* Veridian Woodlands */
    width: 354px;
    top: 236px;
    left: 325px;
}
.pieces img:nth-of-type(12){
    /* Wildrun Hills */
    width: 68px;
    top: 354px;
    left: 251px;
}

.kingdoms_menu p:hover, .regions_menu p:hover{
    cursor: pointer;
    background-color: rgb(128, 128, 128);
}
.info{
    grid-column: 1/-1;
    display: none;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;

    position: absolute;
    top: 1070px;
    left: 55px;
    right: 55px;
}


.machChange .machinoria{
    display: grid;
}
.sylvChange .sylvanara{
    display: grid;
}
.veriChange .veridia{
    display: grid;
}
.drakChange .drakoria{
    display: grid;
}
.equiChange .equiloria{
    display: grid;
}

.goblChange .goblinkin{
    display: grid;
}
.grimChange .grimwood{
    display: grid;
}
.sileChange .silethara{
    display: grid;
}
.titaChange .titanpeak{
    display: grid;
}
.veilChange .veilstead{
    display: grid;
}
.verinChange .veridian{
    display: grid;
}
.wildChange .wildrun{
    display: grid;
}


.kingdoms_menu, .regions_menu{
    background-color: transparent;
    color: transparent;
    width: 0;

    display: flex;
    text-align: center;
    align-items: center;

    grid-column: 1/-1;
}
.kingdoms_menu p, .regions_menu p{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kingdoms_menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.regions_menu{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.kingdoms_menu h3, .regions_menu h3{
    grid-column: 1/-1;
}

.descChange .map a{
    background-color: transparent;
    color: transparent;
    width: 0;
}

.descChange .pieces .kingdoms{
    display: inline;
    z-index: 1;
}

.descChange .kingdoms_menu, .descChange .regions_menu{
    background-color: white;
    color: black;
    width: 100%;
}

main:has(.kingdoms_menu p:first-of-type:hover) .pieces img:first-of-type, 
.machChange .pieces img:first-of-type{
    /* Machinoria */
    z-index: 2;
    width: 134px;
    top: 175px;
    left: 565px;
}
main:has(.kingdoms_menu p:nth-of-type(2):hover) .pieces img:nth-of-type(2), 
.sylvChange .pieces img:nth-of-type(2){
    /* Sylvanara */
    z-index: 2;
    width: 142px;
    top: 252px;
    left: 324px;
}
main:has(.kingdoms_menu p:nth-of-type(3):hover) .pieces img:nth-of-type(3), 
.veriChange .pieces img:nth-of-type(3){
    /* Veridia */
    z-index: 2;
    width: 379px;
    top: 218px;
    left: 318px;
}
main:has(.kingdoms_menu p:nth-of-type(4):hover) .pieces img:nth-of-type(4), 
.drakChange .pieces img:nth-of-type(4){
    /* Drakoria */
    z-index: 2;
    width: 321px;
    top: 316px;
    left: 151px;
}
main:has(.kingdoms_menu p:nth-of-type(5):hover) .pieces img:nth-of-type(5), 
.equiChange .pieces img:nth-of-type(5){
    /* Equiloria */
    z-index: 2;
    width: 649px;
    top: -75px;
    left: 28px;
}
main:has(.regions_menu p:first-of-type:hover) .pieces img:nth-of-type(6), 
.goblChange .pieces img:nth-of-type(6){
    /* Goblinkin Vale */
    z-index: 2;
    width: 270px;
    top: 265px;
    left: 387px;
    display: inline;
}
main:has(.regions_menu p:nth-of-type(2):hover) .pieces img:nth-of-type(7), 
.grimChange .pieces img:nth-of-type(7){
    /* Grimwood Forest */
    z-index: 2;
    width: 317px;
    top: 318px;
    left: 153px;
    display: inline;
}
main:has(.regions_menu p:nth-of-type(3):hover) .pieces img:nth-of-type(8), 
.sileChange .pieces img:nth-of-type(8){
    /* Sands of Silethara */
    z-index: 2;
    width: 577px;
    top: 220px;
    left: -88px;
    display: inline;
}
main:has(.regions_menu p:nth-of-type(4):hover) .pieces img:nth-of-type(9), 
.titaChange .pieces img:nth-of-type(9){
    /* Titanpeak Range */
    z-index: 2;
    width: 630px;
    top: 93px;
    left: -155px;
    display: inline;
}
main:has(.regions_menu p:nth-of-type(5):hover) .pieces img:nth-of-type(10), 
.veilChange .pieces img:nth-of-type(10){
    /* Veilstead Enclave */
    z-index: 2;
    width: 122px;
    top: 344px;
    left: 258px;
    display: inline;
}
main:has(.regions_menu p:nth-of-type(6):hover) .pieces img:nth-of-type(11), 
.verinChange .pieces img:nth-of-type(11){
    /* Veridian Woodlands */
    z-index: 2;
    width: 384px;
    top: 216px;
    left: 305px;
    display: inline;
}
main:has(.regions_menu p:nth-of-type(7):hover) .pieces img:nth-of-type(12), 
.wildChange .pieces img:nth-of-type(12){
    /* Wildrun Hills */
    z-index: 2;
    width: 98px;
    top: 334px;
    left: 231px;
    display: inline;
}