body{
    width: 80%;
}
main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
main div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto) 1fr;
    margin-left: 50px;
}
