body{
    width: 50%;
}

header{
    display: flex;
}

main section{
    margin-left: 10px;
}
main section p{
    margin-left: 20px;
}
main section h3{
    margin-left: 10px;
}
main section h4{
    margin-left: 20px;
}
main section section{
    margin-left: 30px;
}